
/* Variables
-----------------------------------------------------------------*/

$main_color: #14cf93;
$main_color2: #caff33;
$body_color: #1a1a1a;
$sub_bg: #f5f7f9;
$sub_bg2: #eee;
$main_bg: #fff;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;