@charset "UTF-8";
/* Set Fonts */
@font-face {font-family: "Normal"; src: url("../fonts/Audi/AudiTypeV02-Normal.otf"); }
@font-face {font-family: "Bold"; src: url("../fonts/Audi/AudiTypeV02-Bold.otf"); }
@font-face {font-family: "ExtNormal"; src: url("../fonts/Audi/AudiTypeV02-ExtendedNormal.otf"); }
@font-face {font-family: "ExtBold"; src: url("../fonts/Audi/AudiTypeV02-ExtendedBold.otf"); }

:root {
  --primarycol: #E30613;
  --secondarycol: #961423;
  --light: #FFF;
  --dark: #000;
  --silver: #B3B3B3;
}

* { margin: 0; padding: 0; height: 100%; box-sizing: border-box; }

body { 
  font-family: 'Normal', sans-serif;
  font-size: 2rem;
  overflow: hidden;
  background: var(--dark);
}

.h1 { font-family: 'ExtBold', sans-serif;
  color: var(--primarycol);
  font-size: 10vw;
  line-height: 10vw; }

.h2 { font-family: 'ExtNormal', sans-serif;
  color: var(--primarycol);
  font-size: 4vw;
  line-height: 4vw; }

/* ------------------------------------------------
Main page wrapper layout
------------------------------------------------ */
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px dashed #ffffff;
}

/* ------------------------------------------------
Sliding logo container
------------------------------------------------ */
.logo-container {
  height: 200px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px dashed #ff00ff;
}

/* ------------------------------------------------
Sliding logo dash container
------------------------------------------------ */
.logodash-container {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px dashed #ffff00;
}

/* ------------------------------------------------
Sliding logo dash shape
------------------------------------------------ */
.logodash {
  height: 200px;
  width: 215px;
  background-color: var(--primarycol);
  transform: skew(-28deg) scale(20);
  transition: transform 700ms cubic-bezier(0.75, 0, 0.175, 1);
  border: 0px dashed #ffffff;
}

/* ------------------------------------------------
Sliding logo text container
------------------------------------------------ */
.logotext {
  height: 200px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
  margin-bottom: 60px;
  border: 0px dashed #00ffff;
}

/* -------------------------------------------------
Sliding logo text animation
------------------------------------------------- */
/* Font */
.logotext div{
  font-family: 'ExtBold', sans-serif;
  font-size: 132pt;
  color: var(--primarycol);
  float: left;
  overflow: hidden;
  border: 0px dashed #a459ff;
}
/* Animation */
.logotext span {
  border: 0px dashed #00ff00;
  margin-left: -200%;
  animation: animLogoText 650ms forwards cubic-bezier(0.75, 0, 0.175, 1) 750ms;
}
@keyframes animLogoText { from { margin-left: -800px; } to { margin-left: 300px; } }

/* --------------------------------------------------------------------------------
---------------------------- Scrolling Progress Button ----------------------------
-------------------------------------------------------------------------------- */

/* Style to change cursor to a pointer */
.cursor-pointer {cursor: pointer; }

/* Style for the progress wrap container */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
}

/* Style for active progress wrap container */
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Style for the ::after arrow of the progress wrap container */
.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  content: '\f077';
  text-align: center;
  line-height: 47px;
  font-size: 12px;
  font-weight: 600;
  color: var(--primarycol);
  left: 0;
  top: 0;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
}

/* Style for the SVG path within the progress wrap container */
.progress-wrap svg path {fill: none; }

/* Style for the SVG progress circle stroke path within the progress wrap container */
.progress-wrap svg.progress-circle path {
  stroke: var(--primarycol);
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}

