@charset "UTF-8";
/* Set fonts
---------------------------------------------------------------------------------------------------- */
@font-face {font-family: "Normal"; src: url("../fonts/Audi/AudiTypeV02-Normal.otf"); }
@font-face {font-family: "Bold"; src: url("../fonts/Audi/AudiTypeV02-Bold.otf"); }
@font-face {font-family: "ExtNormal"; src: url("../fonts/Audi/AudiTypeV02-ExtendedNormal.otf"); }
@font-face {font-family: "ExtBold"; src: url("../fonts/Audi/AudiTypeV02-ExtendedBold.otf"); }
@font-face {font-family: "ExtItalic"; src: url("../fonts/Audi/AudiTypeV02-ExtendedItalic.otf"); }
@font-face {font-family: "Adobe"; src: url("../fonts/Adobe/AdobeClean-ExtraBold.otf"); }


/* Typography
---------------------------------------------------------------------------------------------------- */
h1 { font-family: 'ExtBold', sans-serif; font-size: 90pt; }
h2 { font-family: 'ExtBold', sans-serif; font-size: 50pt; }
h3 { font-family: 'ExtItalic', sans-serif; font-size: 28pt; }
h4 { font-family: 'Bold', sans-serif; font-size: 18pt; }

p { padding-top: 20px; }

/* Set colors
---------------------------------------------------------------------------------------------------- */
:root {
  --primarycol: #E30613;
  --secondarycol: #961423;
  --tertiarycol: #F7F7F7;
  --light: #FFFFFF;
  --silver: #B3B3B3;
  --gray: #666666;
  --dark: #000000;
}
/* Color themes */
.hero-theme { background: var(--secondarycol); color: var(--primarycol); border-radius: 10px; padding: 25px; }
.light-theme { background: var(--light); color: var(--dark); border-radius: 10px; padding: 25px; }
.dark-theme { background: var(--dark); color: var(--light); border-radius: 10px; padding: 25px; }
.silver-theme { background: #F5F5F5; color: var(--dark); border-radius: 10px; padding: 25px; }
/* Standard font colors */
.primary-col { color: var(--primarycol); }
.secondary-col { color: var(--secondarycol); }
.tertiary-col { color: var(--tertiarycol); }

 
/* Layout base
---------------------------------------------------------------------------------------------------- */
* { margin: 0; padding: 0; }
body, html { font-family: 'Normal'; font-size: 1.3rem; background: var(--light); }
body::-webkit-scrollbar { display: none; }

.wrapper { height: 100%; width: 100vw; }

.area { height: auto; display: contents; align-items: center; padding: 50px 50px; }
.area:nth-child(odd) { height: 500px; width: 100%; display: border-box; align-items: center; }
.area:nth-child(even) { height: 500px; width: 100%; display: border-box; align-items: center; }

/* Video wrapper */
video { position: relative; object-fit: fill; z-index: -50; height: 100%; width: 100%; filter: grayscale(1) contrast(1.2); background-color: var(--dark); }

.video-wrapper {
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  margin: -50px -50px -50px 0px !important; /* top right bottom left */
}

/* Icon boxes */
.icon-right {
  display: inline-block;
  font-size: 35%;
  font-family: 'Normal';
  line-height: 115%;
  margin-right: 15px;
}

.icon-box {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 40px;
  font-family: 'Adobe';
  text-align: left;
  line-height: 115%;
}
.icon-box:nth-child(even) { background-color: var(--dark); color: var(--light); }
.icon-wrapper { display: grid; grid-gap: 10px; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }



/* Sliding header logo animations
---------------------------------------------------------------------------------------------------- */
/* Sliding icon animation */
.icon-logo { height: 200px; width: 215px; background-color: var(--primarycol); }
@keyframes expandIcon { from { transform: translate(300px, 0px); } to { transform: translate(20px, 0px); } }
@keyframes expandIconValue { from { transform: scale(17) skew(-28deg) translateX(20px); } to { transform: scale(0.85) skew(-28deg) translate(0); } }
.icon-is-animated { animation: expandIcon 900ms both cubic-bezier(0.55, 0, 0.175, 1) 750ms; }
.iconvalue { animation: expandIconValue 1000ms both cubic-bezier(0.8, 0, 0.125, 1); }
.iconvalue span { transform: scale(.85); }

/* Sliding header text animation */
.title-is-animated { font-family: 'ExtBold'; color: var(--primarycol); position: relative; }
.title-is-animated span { display: block; transform: translate(-12px, -32px); }
@keyframes expandTitleValue {  from { margin-left: -1500px; } to { margin-left: 50px; } }
.titlevalue { font-size: 132pt; overflow: hidden; }
.titlevalue span { margin-left: -200%; animation: expandTitleValue 800ms forwards cubic-bezier(0.45, 0, 0.2, 1) 700ms; }

/* Sliding logo subheader text animation */
.sub-is-animated { font-family: 'ExtNormal'; color: var(--dark); position: relative; }
.sub-is-animated span { display: block; }
@keyframes expandSubValue {  from { margin-top: -17px; opacity: 0; } to { margin-top: 0; opacity: 100%; } }
.subvalue { font-size: 72pt; overflow: hidden; }
.subvalue span { margin-top: -100%; animation: expandSubValue 1500ms forwards cubic-bezier(0.5, 0.4, 0.2, 1) 1400ms; }


/* Sliding logo layout animations grid
---------------------------------------------------------------------------------------------------- */
.logo-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 500px);
  grid-template-rows: repeat(3, 200px);
  position: relative;
  height: 200px;
  width: 800px;
  margin-left: calc(50% - 650px);     /* Horizontal offset left of the animated logo wrapper */
  margin-top: 100px;                 /* Veritcal top offset of the animated logo wrapper */
  margin-bottom: 300px;              /* Veritcal bottom offset of the animated logo wrapper */
  border: 0px dashed #00FF00;
}
.icon, .title, .subtext {
  grid-row: 1 / span 3;
  grid-column: 1 / 2;
  position: relative;
  height: 200px;
  width: 215px;
}
.title {
  grid-row: 1 / span 3;
  grid-column: 1 / 4;
  width: 550px;
  margin-left: 250px;
}
.subtext {
  grid-row: 1 / span 3;
  grid-column: 2 / 4;
  height: 130px;
  width: 1075px;
  margin-top: 175px;
  margin-left: -215px;
}


/* Layout - Grid 1
---------------------------------------------------------------------------------------------------- */
.grid1{
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr ) ;
  grid-template-rows: repeat(2, [row] auto );
  height: 100%;
  width: 100%;
  gap: 0px;
}
.box {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 50px 50px; /* Padding around the content, 25px 50px means top and bottom 25px, left and right 50px */
  border: 1px dashed var(--silver); /* ===================== BORDER COLOR ===================== */
  border-radius: 0px;
}
.cell1 { grid-column: col / span 2; grid-row: row; }
.cell2 { grid-column: col 3 / span 2; grid-row: row; }
.cell3 { grid-column: col / span 2; grid-row: row 2; }
.cell4 { grid-column: col 3 / span 2; grid-row: row 2; display: grid; grid-template-columns: 1fr 1fr; }
.cell5 { grid-column: 1 / 3; grid-row: 1; }
.cell6 { grid-column: 1; grid-row: 2; }
.cell7 { grid-column: 2; grid-row: 2; }


/* Layout - Grid 2
---------------------------------------------------------------------------------------------------- */
.grid2 { display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  text-align: left;
  border: 0px dashed #00FF00;
}
.cell8 { grid-column: 1 / 5; }
.cell9 { grid-column: 1 / 3; grid-row: 2 / 4; }
.cell10 { grid-column: 3 / 5; }


/* Layout - Grid 3
---------------------------------------------------------------------------------------------------- */
.grid3 { display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-template-areas:
    "cell13 cell14 cell14"
    "cell15 cell15 cell15"
    "cell15 cell15 cell15";
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.cell13 { grid-area: cell13; }
.cell14 { grid-area: cell14; } /* background-image: url(../imgs/cota-tower.jpg); background-size: cover; background-position: center; */
.cell15 { grid-area: cell15; }


/* Scrolling progress to-the-top button 
---------------------------------------------------------------------------------------------------- */
.cursor-pointer { cursor: pointer; }

.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  content: '\f077';
  text-align: center;
  line-height: 30pt;
  font-size: 9pt;
  font-weight: 600;
  color: var(--primarycol);
  left: 0;
  top: 0;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
}

.progress-wrap svg path { fill: none; }

.progress-wrap svg.progress-circle path {
  stroke: var(--primarycol);
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}

/* Vertical Size Queries
---------------------------------------------------------------------------------------------------- */
.vh25 { height: 25vh; }
.vh30 { height: 30vh; }
.vh35 { height: 35vh; }
.vh40 { height: 40vh; }
.vh45 { height: 45vh; }
.vh50 { height: 50vh; }
.vh55 { height: 55vh; }
.vh60 { height: 60vh; }
.vh65 { height: 65vh; }
.vh70 { height: 70vh; }
.vh75 { height: 75vh; }
.vh80 { height: 80vh; }
.vh85 { height: 85vh; }
.vh90 { height: 90vh; }
.vh95 { height: 95vh; }
.vh100 { height: 100vh; }